
#header{
  padding : 40px 40px;
  border: 2px solid black;
  font-family: verdana;
  font-size : 25px;
  background-color: #fff;
}

#main_div .link{
  margin-top: 40px;
  margin-left: 50px;
  background-color: #00FFFF;
  padding: 20px 30px;
  cursor: pointer;
  font-size: 12px;
}